<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregation index page</title>
</head>
<body>

<h1>Aggregation index - check this out</h1>

<ul>
    <li><a href="{{ '/aggregation/authors' }}">Authors</a></li>
    <li><a href="{{ '/aggregation/books' }}">Books</a></li>
    <li><a href="{{ '/aggregation/publishers' }}">Publishers</a></li>
    <li><a href="{{ '/aggregation/stores' }}">Stores</a></li>
    <br>
    <li><a href="{{ '/admin' }}">back to Admin Module</a></li>

</ul>

</body>
</html>