<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregation index page</title>
</head>
<body>

<h1>Aggregation index - check this out</h1>

<ul>
    <li><a href="{% url 'aggregation:author' %}">Authors</a></li>
    <li><a href="{% url 'aggregation:book' %}">Books</a></li>
    <li><a href="{% url 'aggregation:publisher' %}">Publishers</a></li>
    <li><a href="{% url 'aggregation:store' %}">Stores</a></li>
    <br>
    <li><a href="{% url 'aggregation:cbv_index' %}">Class-based views for Book model</a></li>
    <br>
    <li><a href="{% url 'admin:app_list' app_label='aggregation' %}">back to Admin Module </a></li>

</ul>

</body>
</html>