<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher page</title>
</head>
<body>
    <h1>Publishers list - click on <a href="{% url 'aggregation:publisher_details' %}">details</a> to see more</h1>
    {% for book in publishers_books %}
        <ul>
            <li> <b>{{ book.publisher }}</b> published the book <b>"{{ book.name }}"</b> </li>
        </ul>
        {% endfor %}
    <br>
    <ul>
        <li><a href="{% url 'aggregation:index' %}">back to Aggregation index</a></li>
        <li><a href="{% url 'admin:app_list' app_label='aggregation' %}">back to Admin Module </a></li>
    </ul>
</body>
</html>