<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher page</title>
</head>
<body>
    <h1>Publishers list - click on <a href="{{ '/aggregation/publishers/details' }}">details</a> to see more</h1>
    {% for book in publishers_books %}
        <ul>
            <li> <b>{{ book.publisher }}</b> published the book <b>"{{ book.name }}"</b> </li>
        </ul>
        {% endfor %}
    <br>
    <ul>
        <li><a href="{{ '/aggregation/' }}">back to Aggregation index</a></li>
        <li><a href="{{ '/admin/' }}">back to Admin Module </a></li>
    </ul>
</body>
</html>